<div class="container w-50 rounded text-center p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.349);">
    <h1>Sign In To Your Account</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" id="acid" name="acnum1" class="form-control" placeholder="Account Number"
                type="text">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" id="psw1" name="paswrd1" class="form-control" type="password"
                placeholder="Enter a password">
        </div>
        <div class="p-3 mt-2">
            <button type="button" (click)="login()" class="btn btn-outline-light">login</button>
        </div>
        <div class="text-center">
            <strong> Not Registered? </strong>
            <a style="text-decoration: none; color: rgb(223, 178, 65);" routerLink="Register">
                <strong> Register </strong> </a>
        </div>
    </form>
</div>

<!-- <input id="psw1" name="paswrd1" (change)="paswrdChange($event)" class="form-control" type="password" placeholder="Enter a password"> -->