/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/mony-img.jpg");
    background-size: cover;
}

.imglogo {
    width: 4.5rem;
}

