<div class="text-center container w-50 mt-5 fs-5 p-5">
    <h2>Transaction History</h2>

    <hr>

    <table class="bg-dark p-5 mt-4 w-100" style="color: rgb(214, 179, 53);">

        <thead class="bg-secondary">

            <tr class="text-white">

                <th>type</th>
                <th>Amount</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let i of transactionData">

                <td>{{i.Type}}</td>
                <td>{{i.amount}}</td>

            </tr>

        </tbody>

    </table>

    <hr class="text-white">

</div>