<div class="container w-50 rounded p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.349);">

    <h1 class="text-center">Sign Up To Bank</h1>

    <form [formGroup]="registerForm" action="" (ngSubmit)="register()">

        <div class="p-3 mt-2">
            <input formControlName="uname" type="text" class="form-control" placeholder="enter username" name="usern1"
                id="unameid">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
            <p style="color: red;">must contain charactors</p>
        </div>

        <div class="p-3 mt-2">
            <input formControlName="acno" type="number" class="form-control" placeholder="enter account number"
                name="usern1" id="acnoid">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
            <p class="text-danger">accept only numbers</p>
        </div>

        <div class="p-3 mt-2">
            <input formControlName="psw" type="password" class="form-control" placeholder="enter password"
                name="paswrd1" id="psw1">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
            <p style="color: red;">accept only charactors and numbers</p>
        </div>

        <div class="p-3 mt-2 text-center">
            <button type="submit" class="btn btn-outline-warning">Register</button>
        </div>

        <div class="text-center">
            <strong> Already Registered? </strong>
            <a style="text-decoration: none; color: rgb(223, 178, 65);" routerLink="">
                <strong> login </strong> </a>
        </div>

    </form>

</div>