<div class="container w-50 rounded text-center p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.349);">

    <h1>Sign Up To Bank</h1>

    <form action="">

        <div class="p-3 mt-2">
            <input type="text" class="form-control" placeholder="enter username" name="usern1" id="unameid">
        </div>

        <div class="p-3 mt-2">
            <input type="number" class="form-control" placeholder="enter account number" name="usern1" id="unameid">
        </div>

        <div class="p-3 mt-2">
            <input type="password" class="form-control" placeholder="enter password" name="paswrd1" id="psw1">
        </div>

        <div class="p-3 mt-2">
            <button type="button" (click)="register()" class="btn btn-outline-warning">Register</button>
        </div>

    </form>

</div>