<div class="container w-50 rounded text-center p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.349);">

    <h1>Sign Up To Bank</h1>

    <form action="" (ngSubmit)="register()">

        <div class="p-3 mt-2">
            <input [(ngModel)]="uname" type="text" class="form-control" placeholder="enter username" name="usern1"
                id="unameid">
        </div>

        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" type="number" class="form-control" placeholder="enter account number"
                name="usern1" id="acnoid">
        </div>

        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" type="password" class="form-control" placeholder="enter password" name="paswrd1"
                id="psw1">
        </div>

        <div class="p-3 mt-2">
            <button type="submit" class="btn btn-outline-warning">Register</button>
        </div>

        <div class="text-center">
            <strong> Already Registered? </strong>
            <a style="text-decoration: none; color: rgb(223, 178, 65);" routerLink="">
                <strong> login </strong> </a>
        </div>

    </form>

</div>